.cart {
  position: fixed;
  margin: 10px;
  top: 0;
  right: 0;
  min-width: 30%;
  max-width: 35%;
  height: fit-content;
  background-color: var(--light);
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: .5rem;
  margin: 1rem 0;
  text-align: center;
}

.fixedPrice {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 2%;
  right: 1%;
  font-size: 2rem;
  cursor: pointer;
  background-color: #c6b3a5;
  border-radius: 10px;
  padding: .25rem;
  width: 55px;
  height: 55px;
  margin-right: 2%;
  transition: transform 0.2s;
  transition: ease-in 0.5s;
  transition: ease-out 0.2s;
}

.cart-closed:hover {
  transform: ();
  background-color: #f2c12e;
  width: 57px;
  height: 57px;
}

.cart-closed:active {
  transform: scale(0.92);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

.cartItemsBox{
  overflow-y: auto;
  max-height: 250px;
}

@media screen and (max-width: 768px) {
  .cart {
    /* position: relative;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit; */
  }

  .cart-closed {
    margin-top: 100px;
    width: 40px;
    height: 40px;
    font-size: 1rem;

  }

  .fixedPrice, button {
    font-size: 80%;
  }
  button {
    padding: 5%;
  }
}